body {
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.sudoku {
  display: grid;
  grid-template-columns: repeat(9, 2.5rem);
  border: 0.4rem solid gray;
  border-right: 0;
}

.sudoku__item {
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border: 0.1rem solid gray;
  outline: none;
}

.sudoku__item:nth-child(3n) {
  border-right: 0.4rem solid gray;
  background: gainsboro;
}

.sudoku__item:nth-child(-n+27):nth-child(n+19),
.sudoku__item:nth-child(-n+54):nth-child(n+46) {
  border-bottom: 0.4rem solid gray;
}